<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Password Reset</title>
</head>
<body>
  <p>
    We've received a request to reset your password. To reset your password, click the link below.
  </p>
  <p>
    <a href="<%= url %>" style="display: inline-block; padding: 10px 20px; background-color: #f7d62f; color: #050505; text-decoration: none; border-radius: 5px; font-weight: bold;">
      Reset Password
    </a>
  </p>
  <p>
    This link will expire in 24 hours.
  </p>
  <p>
    If you didn't request this action, you can ignore this email.
  </p>
  <p>
    Cheers,<br>
    Team FaceOff
  </p>
</body>
</html>
